.left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%; /* Ensure full height of container */
}



.left-login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
}

.left-input-field {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px;
    font-size: 16px;
}

.left-input-field:focus {
    border-color: #2E8BC0; /* Focus border color */
    outline: none;
}

.left-submit-button {
    padding: 10px;
    background-color: #2E8BC0; /* Primary color */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.left-submit-button:hover {
    background-color: #257BA0; /* Darker shade on hover */
}

.line{
    color: blue;
    margin-top: 10px;
    
}
.line b{
    color: black;
}
.google {
    width: 150px; 
    height: 40px;
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-bottom: 20px; 
}
