body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.login-bg {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #fdebbe;
}

.login-container {
    display: flex;
    height: 80vh;
    width: 80vw;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    background-color: #e9e2ca;
}

.login-left {
    flex: 2.5;
    background-color: #e9e2ca;
}

.login-right {
    flex: 1;
    background-color: #ffffff;
}


@media (max-width: 600px) {
    .login-container {
        flex-direction: column;
        width: 90vw; 
        height: auto; 
        justify-content: center;
        align-items: center;
        justify-items: center;  
    }
    .login-left {
        width: 70%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .login-right {
        width: 100%;
    }
}
